<div class="section-sm">
  <% if @notable && @notable.any? %>
    <h5>Notable <%= controller_name.demodulize.delete_suffix("Controller") %></h5>
    <div class="row">
      <% @notable.each do |item| %>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <%= link_to item.name, current_path_for_tag(item) %> <% if @includes_count %>(<%= item.visible_taggings_count %>)<% end %>
        </div>
      <% end %>
    </div>
    <h5>Other <%= controller_name.demodulize.delete_suffix("Controller") %></h5>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <%= link_to item.name, current_path_for_tag(item) %> <% if @includes_count %>(<%= item.visible_taggings_count %>)<% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <%= link_to item.name, current_path_for_tag(item) %> <% if @includes_count %>(<%= item.visible_taggings_count %>)<% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
