<section class="py-3 bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-end">
      <div class="col-xl-8 col-md-6 ">
        <h2 class="h5 text-dark font-weight-500 text-center text-md-left">
          <%= @search_title %>
          <% if @url && @url.include?("rubygems.org") %>
          <a class="badge" style="border: 1px solid #e9573f; color: #e9573f; background-color: #fff;" href="<%= @url %>" rel="nofollow noopener" target="_blank" data-ahoy-event="$click" data-ahoy-properties='{"type": "rubygems"}'>On RubyGems</a>
          <% elsif @url && @url.include?("npmjs") %>
            <a class="badge" style="border: 1px solid black; color: black; background-color: #fff;" href="<%= @url %>" rel="nofollow noopener" target="_blank" data-ahoy-event="$click" data-ahoy-properties='{"type": "rubygems"}'>On npmjs</a>
          <% end %>
        </h2>
      </div>
      <div class="col-xl-4 col-md-6 text-lg-right mt-4 mt-lg-0 text-center text-md-left">
        <% if params[:sort] == 'popular' %><a class="mr-3 text-info" href="<%= request.path %>?sort=name">Sort by name</a><% else %><a href="<%= request.path %>?sort=popular" class="mr-3 text-info">Sort by popular</a><% end %>
        <a href="#" data-toggle="collapse" data-target="#toggled" class="line-link text-dark">More ways to search <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon ml-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"></path></svg></a>
      </div>
    </div>
    <div id="toggled" class="collapse">
      <div class="col-lg-12 text-center mt-4 mt-lg-0 pt-3 visible">
        Search by
        <%= active_link "category", search_categories_path %>,
        <%= active_link "gem", search_gems_path %>,
        <%= active_link "object", search_objects_path %>,
        <%= active_link "package", search_packages_path %>, or
        <%= active_link "stack", search_stacks_path %>
      </div>
    </div>
  </div>

</section>
